In [13]:
#누구와 소개팅을 하면 좋을까? - 결혼정보 시스템 짝이어주기.
isLike <- read.csv('c:/Java/like.csv')
isLike

   Speaking Reading Traveling School.Grades Height Good.Skin Muscular Crush
1  30       80      40        40            90     90        50       1type
2  60       50      70        50            60     60        90       2type
3  50       40      80        60            50     70        80       2type
4  90       50      60        30            40     20        30       3type
5  50       70      30        70            70     80        60       1type
6  70       30      60        40            40     40        30       3type
7  40       90      60        60            60     80        60       1type
8  30       60      90        60            40     70        70       2type
9  80       40      20        80            60     40        50       3type
10 50       70      70        50            70     90        50       1type
11 80       50      60        40            50     40        70       3type
12 30       70      30        90            70     80        60       1type
13 40       60      90        60            50     70        80       2type
14 80       30      50        50            80     40        60       3type

In [26]:
#train, test데이터로 나눔
set.seed(2000000)
idx <- sample(nrow(isLike), size=nrow(isLike)*0.7)
train <- isLike[idx, ]
test <- isLike[-idx, ]

nrow(train)
nrow(test)
table(train$Crush)
table(test$Crush)
train
test

[1] 9

[1] 5

1type 2type 3type
    3     3     3

1type 2type 3type
    2     1     2

   Speaking Reading Traveling School.Grades Height Good.Skin Muscular Crush
9  80       40      20        80            60     40        50       3type
1  30       80      40        40            90     90        50       1type
5  50       70      30        70            70     80        60       1type
3  50       40      80        60            50     70        80       2type
6  70       30      60        40            40     40        30       3type
2  60       50      70        50            60     60        90       2type
4  90       50      60        30            40     20        30       3type
13 40       60      90        60            50     70        80       2type
10 50       70      70        50            70     90        50       1type

   Speaking Reading Traveling School.Grades Height Good.Skin Muscular Crush
7  40       90      60        60            60     80        60       1type
8  30       60      90        60            40     70        70       2type
11 80       50      60        40            50     40        70       3type
12 30       70      30        90            70     80        60       1type
14 80       30      50        50            80     40        60       3type

In [27]:
#KNN 알고리즘 적용
library(class)
knn1 <- knn(train[,1:7], test[,1:7], train$Crush, k=1, prob=T)
knn1

[1] 1type 2type 2type 1type 3type
attr(,"prob")
[1] 1 1 1 1 1
Levels: 1type 2type 3type

In [28]:
knn3 <- knn(train[,1:4], test[,1:4], train$Crush, k=3, prob=T)
knn3

[1] 1type 2type 3type 1type 3type
attr(,"prob")
[1] 1.0000000 0.6666667 0.6666667 0.7500000 0.6666667
Levels: 1type 2type 3type

In [29]:
#예측값 평가
knn1conf <- table(knn1, test$Crush)
knn1acc <- sum(diag(knn1conf))/nrow(test)
knn1acc

knn3conf <- table(knn3, test$Crush)
knn3acc <- sum(diag(knn3conf))/nrow(test)
knn3acc

[1] 0.8

[1] 1